/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  height: 100%;

  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}


.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #e2e3e5 !important;
  --mdc-snackbar-supporting-text-color: #2b2f32 !important;
  --mat-mdc-snack-bar-button-color: #ffffff !important;
  border: 1px solid #c4c8cb !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.375rem !important;
  -webkit-border-radius: 0.375rem !important;
  -moz-border-radius: 0.375rem !important;
  -ms-border-radius: 0.375rem !important;
  -o-border-radius: 0.375rem !important;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f8d7da !important;
    --mdc-snackbar-supporting-text-color: ##58151c !important;
    border: 1px solid #f1aeb5 !important;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #d1e7dd !important;
    --mdc-snackbar-supporting-text-color: #0a3622 !important;
    border: 1px solid #a3cfbb !important;
  }
}
